parameters:
    env(DATABASE_HOST):     db
    env(DATABASE_PORT):     3306
    env(DATABASE_NAME):     jams
    env(DATABASE_USER):     root
    env(DATABASE_PASSWORD): root

    mailer_transport:       smtp
    mailer_host:            127.0.0.1
    mailer_user:            ~
    mailer_password:        ~

    cors_allow_origin: http://localhost

    secret: ThisTokenIsNotSoSecretChangeIt
