parameters:
    database_host:          db
    database_port:          '%env(MYSQL_PORT)%'
    env(MYSQL_PORT):        3306
    database_name:          '%env(SF_DB_NAME)%'
    env(SF_DB_NAME):        api
    database_user:          '%env(SF_DB_USER)%'
    env(SF_DB_USER):        admin
    database_password:      '%env(SF_DB_PWD)%'
    env(SF_DB_PWD):         admin

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    cors_allow_origin: http://localhost

    varnish_urls: [http://varnish]
